<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
</head>
<body>
    <form action="/add" method="POST">
      <input type="text" name="name" placeholder="product name" required>
      <br>
      <input type="number" name="price" placeholder="product price" required>
      <br>
      <button type="submit">Add Product</button>
    </form> 
    <br>
    <a href="/products">View Products</a>
</body>
</html>